<div class="d-flex justify-content-center"></div>
<div class="subtitle">
  <h3>About Us </h3>
</div>
<div class="d-flex justify-content-center"></div>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-4">
           
       
            <img src="../../assets/images/about2.jpg" class="img1">
        
            </div>
            <div class="col-md-4 content">
                <div class="card">
                    <div class="card-body">
                        <h6>
                        RURI is a global brand of natural gemstones and Jewelry. We promote to build sustainable supply chain of precious gems 
                        in the world's leading gem-producing countries, primarily Sri Lanka.
                        RURI was launched in Japan in 2021 and we are headquartered in Ginza, Tokyo.
                        <br><br>
                        RURIは、天然石とジュエリーのグローバルブランドです。世界有数の宝石産出国であるスリランカを中心に、貴重な宝石の持続可能なサプライチェーンの構築を推進しています。
    
                        RURIは2020年に日本で設立され、東京・銀座に本社を置いています。
    
                        会社名：RURI Technologies LLC
                        住　　所：東京都中央区銀座6-6-1　
                        　　　　　　　銀座風月堂ビ　ル5F
                        設　　立：2020年8月
                        代　　表：藤森朝詩
    
                        </h6>
                    </div>
                  </div>
            
            
            </div>

            <div class="col-md-4">
            
                <img src="../../assets/images/about1.jpg" class="img2">
               
</div>
   
     
        </div>
 
</div>