<div id="collection" class="container-fluid">
<div class="d-flex justify-content-center"></div>
<div class="subtitle">
  <h3>RURI Collection コレクション</h3>
</div>
<div class="d-flex justify-content-center"></div>

<div class="subtitle">
<h5>The online store will open soon! 
  <br>
<br>
オンラインショップは間もなく開店します！
 </h5>
</div>
      <div class="container-fluid text-center ">
     
        <br>
        <div class="row">
          <div class="col-sm">
            <img src ="../../assets/images/collection.png" class="logo-small">
           
            <p>Natural unheated Sapphire/Ruby </p>
          </div>
          <div class="col-sm">
            <img src ="../../assets/images/collection.png" class="logo-small">
           
            <p>2021 Opening Sale
              Uncle Ruby Private Collection
             </p>
          </div>
          <div class="col-sm">
            <img src ="../../assets/images/collection.png" class="logo-small">
            
            <p>2021 Upcoming Ethical Gems Collection
              .</p>
          </div>
         
          <br><br>
       
          <div class="col-sm">
            <img src ="../../assets/images/collection.png" class="logo-small">
           
            <p>Create your own jewelry
            </p>
          </div>
        
        </div>
      </div>
      </div>

